port=5353
# Listen for DNS queries on all interfaces, including loopback and VM bridge
interface=lo
interface=eno1
interface=vmbr0
interface=wlx00c0cab0476e
# BUT DO NOT SERVE DHCP except on the VM bridge (vmbr0)
no-dhcp-interface=lo
no-dhcp-interface=eno1
no-dhcp-interface=wlx00c0cab0476e
address=/flight.kja.us/{{ dns_root }}
domain=flight.kja.us
dhcp-range=10.0.0.10,10.0.0.200,255.255.255.0,12h
dhcp-authoritative
log-queries
log-dhcp
